---
import openingImage from "@images/landing/OpeningLanding_11zon.avif";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title?: string;
  description: string;
  primaryButtonText?: string;
  primaryButtonUrl?: string;
  secondaryButtonText?: string;
  secondaryButtonUrl?: string;
  imageSrc?: ImageMetadata;
  imageAlt?: string;
}

const {
  title,
  description,
  primaryButtonText = "Get Started",
  primaryButtonUrl = "#",
  secondaryButtonText = "Learn More",
  secondaryButtonUrl = "#",
  imageSrc = openingImage,
  imageAlt = "Life Profoundness"
} = Astro.props;
---

<div class="relative overflow-hidden">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
    <div class="grid lg:grid-cols-2 items-center gap-8">
      <!-- Text Content -->
      <div class="lg:order-1">
        <div class="p-8 rounded-xl">
          <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200">
            What is Life <span class="text-[#f25939]">Profoundness</span>?
          </h1>
          <p class="mt-5 text-lg text-gray-600 dark:text-gray-300 text-justify" set:html={description} />
          <a
            href="/about"
            class="mt-8 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent bg-[#941e02] text-white hover:bg-[#f25939] disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 py-2 px-3 w-32"
          >
            Learn More
            <svg class="flex-shrink-0 w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6"/>
            </svg>
          </a>
        </div>
      </div>

      <!-- Image -->
      <div class="lg:order-2">
        <div class="relative">
          <Image
            src={imageSrc}
            alt={imageAlt}
            class="w-full h-full object-cover rounded-xl"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @keyframes float {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    25% {
      transform: translateY(-10px) rotate(5deg);
    }
    50% {
      transform: translateY(-20px) rotate(0deg);
    }
    75% {
      transform: translateY(-10px) rotate(-5deg);
    }
    100% {
      transform: translateY(0px) rotate(0deg);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
</style> 